version: '3.8'
services:
 

  postgres:
    image: timescale/timescaledb:latest-pg16
    container_name: wbf_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - task5_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  migrate:
    image: migrate/migrate:v4.15.2
    container_name: wbf_migrate
    command:
      [
        "-path", "/migrations",
        "-database", "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable",
        "up"
      ]
    volumes:
      - ./migrations:/migrations
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure
    networks:
      - task5_network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task5
    ports:
      - "${APP_PORT}:${APP_PORT}"
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      APP_PORT: ${APP_PORT}
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
    restart: always
    stop_grace_period: 10s 
    networks:
      - task5_network

volumes:
  pg_data:

networks:
  task5_network:
    driver: bridge